body {
  margin: 0;
  font-family: Arial;
  background: #0f0f1a;
  color: white;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}

.card {
  display: flex;
  flex-direction: column; /* ⬅ penting: biar bawah */
  gap: 15px;
  background: #1b1b2f;
  padding: 20px;
  border-radius: 15px;
}

.card img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.text-box {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.9;
  white-space: pre-line; /* biar enter di txt kebaca */
}
